* {
    box-sizing: border-box;
    margin: 0px auto;
    font-family: monospace;
    text-align: center;
    border-spacing: 0px;
}

tr, td, th {
    border: 1px solid black;
}

th, td {
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}

tr > th {
    background-color:rgb(230, 247, 255);
}

tr:first-child > th {
    background-color: rgb(216, 216, 216);
}

tr:nth-child(2) > td, tr:nth-child(4) > td {
    background-color:rgb(235, 236, 136);
}

td:hover {
    background-color:rgb(46, 65, 231);
}

img {
    padding-left: 2px;
}
