* {
    box-sizing: border-box;
    font-family: monospace;
    text-align: center;
    margin: 20px;
    padding-top: 4px;
}


header {
    background-color: rgb(241, 241, 178);
}

article {
    background-color:rgb(175, 223, 245);
    float: right;
    width: 78%;
    height: 350px;

}

#leftcolumn {
    float: left;
    width: 16%;

}

#leftcolumn > aside {
    height: 161px;
}

header {
    height: 100px;

}

footer {
    background-color: rgb(250, 195, 205);
    clear: both;
    height: 100px;

}


#navigation {
    background-color:rgb(156, 231, 156);
    margin: 0px auto;
    margin-bottom: 20px;

}

#linklist {
    background-color:rgb(211, 151, 226);
    margin: 0px auto;
}

h1 {
    font-size: 2rem;
}