ul{
    padding-left: 20px;
}

div{
    background-color: rgb(255, 255, 136);
    width: 9%;
    padding: 10px 16px 10px 2px;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 0px blue;
}

div:hover{
    cursor: pointer;
}

li:hover{
    text-transform: uppercase;
    font-weight: bold;
}

li:first-child {
    text-decoration: overline black;
    list-style: circle black;
    
}

li:nth-child(2), li:nth-child(3), li:nth-child(4), li:last-child {
    color: red;
}


li:first-child::first-letter, li:last-child::first-letter{
    font-size: 1.5em;
}
li:first-child::first-letter{
    color:blue;
} 
li:last-child::first-letter{
    color: green;
    text-decoration: overline black;
}

