* {
    margin: 0 auto;
}

body {
    padding: 5px;
    counter-reset: principal;
    counter-reset: secundario;
    counter-reset: terciarioLetra;
}

p {
    margin: 0;
    padding: 10px;
    text-align: justify;
}

h1+p, h2+p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
}

h1, h2, h3 {
    padding: 10px;
    color: #333
}

h1 {
    counter-increment: principal;
    counter-reset: secundario;
    counter-reset: terciarioLetra;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    counter-increment: secundario;
    counter-reset: terciarioLetra;
    font-size: 2rem;
}
h3 {
    counter-increment: terciarioLetra;
    font-size: 1.75rem;
}

h1::before {
    color: red;
    content: counter(principal, decimal) ". ";
}

h2::before {
    color: brown;
    content: counter(principal, decimal) "."counter(secundario, decimal) ". ";
}

h3::before {
    color: salmon;
    content: counter(principal, decimal) "."counter(secundario, decimal) "."counter(terciarioLetra, lower-alpha) ". ";
}