
form {
    width: 85%;
}

img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-top: 5px;
}

.color {
    background-color: rgb(201, 211, 143);
}

.fecha input {
    width: 40px;
    margin-right: 4px;
}

.fecha {
    width: 90%;
}


div {
    margin: 15px;
    border-style: dashed ;
    width: 55%;
    padding: 15px;
}

h2 {
    color: rgb(1, 196, 255);
}

button {
    background-color: rgb(35, 174, 255)
    
}

button > span {
    color: rgb(255, 255, 255)
}

label {
    font-weight: bold;
    color: rgb(163, 163, 163);
    font-size: 20px;
}

.derecha {
    float: right;
    width: 50%;
    border-style: none;
}

.idioma {
    border-style: none;
}

.calendario, .persona { 
    width: 35px;
    height: 25px;
}